<!doctype html>
<html lang="pt-br">
 
<head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Start Point</title>
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'cadastro_usuario/assets/vendor/bootstrap/css/bootstrap.min.css'%}">
    <link href="{% static 'cadastro_usuario/assets/vendor/fonts/circular-std/style.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'cadastro_usuario/assets/libs/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'cadastro_usuario/assets/libs/css/jquery.multiselect.css'%}">
    <link rel="stylesheet" href="{% static 'cadastro_usuario/assets/vendor/fonts/fontawesome/css/fontawesome-all.css'%}">
    <link rel="stylesheet" href="{% static 'cadastro_usuario/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css'%}">
    <link rel="stylesheet" href="{% static 'cadastro_usuario/assets/vendor/select2/css/select2.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    
    <style>
        .datepicker,
        .ui-datepicker {
            z-index: 9999 !important;  /* Garante que o Datepicker sobreponha */
        }
    </style>    
</head>
<body>
    
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->
        <div class="dashboard-header">
            <nav class="navbar navbar-expand-lg bg-white fixed-top">
                <a class="navbar-brand" href="">Start Point</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-right-top">
                        <li class="nav-item dropdown nav-user">
                            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-power-off mr-2"></i> Logout</a>
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- end navbar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- left sidebar -->
        <!-- ============================================================== -->
        <div class="nav-left-sidebar sidebar-dark">
            <div class="menu-list">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav flex-column">
                            <li class="nav-divider">
                                Menu
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-2" aria-controls="submenu-2"><i class="fa fa-fw fa-rocket"></i>Cadastros</a>
                                <div id="submenu-2" class="collapse submenu" style="">
                                    <ul class="nav flex-column">
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%url 'cad_projetos'%}">Projeto <span class="badge badge-secondary"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%url 'cad_campanha'%}">Campanha <span class="badge badge-secondary"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%url 'upload_photo'%}">Upload Checkin <span class="badge badge-secondary"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="{%url 'upload_excel_plano_acao'%}">Upload Plano de Ação <span class="badge badge-secondary"></span></a>
                                        </li>
                                        
                                        
                                        
                                    </ul>
                                </div>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="{%url 'checkin'%}" ><i class="far fa-file-image"></i>Chekin <span class="badge badge-success">6</span></a>
                                
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link " href="{%url 'Banco_Precos'%}" ><i class="fas fa-search"></i>Banco de Preços <span class="badge badge-success">6</span></a>
                                
                            </li>
                              
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->

        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Upload Check-in</h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item">Cadastros</li>
                                        <li class="breadcrumb-item">Check In</li>
                                        
                                        
                                        
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->
                <div class="card">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">

                                <strong>Data:</strong>
                                {{ form.data }}
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">

                                <strong>Protocolo:</strong>
                                {{ form.protocolo }}
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <strong for="input-select">Tipo Serviço:</strong>
                                <select class="form-control" id="input-select" name="nome_tipo_servico">
                                    <option>INSTALAÇÃO</option>
                                    <option>DESISNTALAÇÃO</option>
                                    
                                </select>
                            </div>
                        </div>    
                        <div class="row">   
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
                                <strong>Tipo:</strong>
                                <select class="form-control" id="input-select" name="tipo">
                                    <option {% if tipo == 'Campanha' %}selected{% endif %}>Campanha</option>
                                    <option {% if tipo == 'Projeto' %}selected{% endif %}>Projeto</option>
                                    <option {% if tipo == 'Abertura' %}selected{% endif %}>Abertura</option>
                                </select>

                            </div>
                            

                            <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12 mb-2">

                                <strong>Nome:</strong>
                                {{ form.nome_campanha }}
                            </div>
                            
                            

                            
                        </div>
                    
                    
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12 mb-2">
                                <strong>Nome Produto:</strong>
                                {{ form.nome_produto }}
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2">
                                <strong for="input-select">Canal</strong>
                                <select class="form-control " name="canal">
                                    <option>WHS</option>
                                    <option>WHS - ESPECIALIZADOS</option>
                                    <option>DTC</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-9 col-sm-12 col-12">
                                <div class="">
                                    <strong>Loja:</strong>

                                    <select class="form-control" id="List_estabelecimento" name="List_estabelecimento">

                                            {% for nome in chave_store %}
                                            <option value="{{nome.chave_store}}">{{nome.chave_store}}</option>
                                            {%endfor%}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12 mb-2">
                                
                                <strong>Imagen:</strong>
                                {{ form.img }}
                            </div>
                        </div>
                    </div>
                        
                    
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                                   {% for message in messages %}
                                   <div class="alert alert-success" role="alert">
                                    {{ message }}
                                    </div>
                                   {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 mb-2">
                                <button type="submit" class="btn btn-primary btn-sm"> <i class="far fa-file-image"></i> Upload</button> 
                            </div>
                        </div>
                    </div>
                          
                        </form>
                    
                    

                </div>
            </div>
            
        </div>

    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    
</body>
<script src="{% static 'cadastro_usuario/assets/vendor/jquery/jquery-3.3.1.min.js'%}"></script>
<script src="{% static 'cadastro_usuario/assets/vendor/bootstrap/js/bootstrap.bundle.js'%}"></script>
<script src="{% static 'cadastro_usuario/assets/vendor/select2/js/select2.min.js'%}"></script>
<script src="{% static 'cadastro_usuario/assets/vendor/xlsx_export/js/xlsx.full.min.js'%}"></script>
<script src="{% static 'cadastro_usuario/assets/libs/js/main-js.js'%}"></script>
<script src="{% static 'cadastro_usuario/assets/libs/js/jquery.multiselect.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pt.min.js"></script>

<script>
    $(document).ready(function() {
        $('.datepicker').datepicker({
            format: 'dd/mm/yyyy',  // Formato da data
            autoclose: true,      // Fecha automaticamente ao selecionar
            todayHighlight: true,  // Destaca a data de hoje
            language: 'pt-br'  // Define o idioma como português
        });
    });
</script>

<!-- Inicializar o Select2 -->
<script>
    $(document).ready(function() {

        $('#List_estabelecimento').select2({
            placeholder: "Selecione um canal",
            allowClear: true // Permite limpar a seleção
        });
    });
  </script>

</html>